body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(0, 140, 255);
}

#inst-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

header img {
    width: 32px;
    height: 32px;
}

#inst-name h1 {
    font-size: 24px;
    margin-left: 8px;
}

#icons {
    display: flex;
    justify-content:left;
}

#icons img {
    padding: 5px;
}

#icons img:hover {
    background-color: #00000044;
}

/* Main */

main h1, main p {
    text-align: center;
}

main form {
    width: fit-content;
    max-width: 400px;
    margin: 10px auto;
}


table tr td:nth-of-type(odd) {
    padding: 20px 0;
    text-align: right;
}

input {
    padding: 5px;
}

select {
    padding: 5px;

}

#button {
    text-align: center;
}

#button button {
    padding: 10px 15px;
    font-size: 18px;
    background-color: white;
    border: 1px solid #00000044;
    border-radius: 8px;
}

/* Footer */

footer {
    text-align: center;
    background-color: rgb(0, 140, 255);
    padding: 20px;
}

footer ul {
    padding: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    list-style: none;
}

footer ul li a img {
    width: 32px;
    padding: 10px;
}

footer ul li a img:hover {
    background-color: #00000044;
}

footer p {
    font-size: 11px;
    color: rgb(204, 204, 204);
}